# Untracked files.
# Mac OS X Finder and whatnot
.DS_Store

# build products
build/
*.[oa]

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Ignoring eclipse artifacts
.project
.classpath
.settings*

# Ignoring maven artifacts
target*
overlays*

# Ignoring intellij artifacts
*.iml
.idea/

# Ignoring Netbeans artifacts
nb-configuration.xml
nbactions.xml
